html {
}

body {
  background: url('pinkspark.gif.gif');
  repeat: repeat;
  font-family: 'Times New Roman', serif;
}

h1 { 
  font-style: italic;
  font-weight: bold;
  letter-spacing: 2px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

